header{
    width: 100%;
    background-color: lightsteelblue;
}

body{
    background-color: lightgray;
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .article {
    background-color: lightgray;
    padding: 20px;
  }
